/*
Template:       dlist
Theme Name:     dList Child - Ekdam500
Theme URI:      https://directorist.com/product/dlist/
Author:         wpWax
Author URI:     https://wpwax.com
Version:        2.0
Text Domain:    dlist
Tags:           food-and-drink, blog, e-commerce, grid-layout, one-column, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, threaded-comments, theme-options, block-styles
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
*/

/* You can add custom css after this line */

.single-at_biz_dir .single-custom-price {
  display: flex;
}

.single-at_biz_dir .single-custom-price .single-price-unit {
  margin-right: 0;
  margin-left: 10px;
  line-height: 16px;
  font-size: 14px;
}

.single-at_biz_dir .single-custom-price .single-price-unit strong {
  display: block;
}

.directorist-custom-field-checkbox.hide_contact_information
  .directorist-form-label {
  display: none;
}

.directorist-custom-field-checkbox.hide_contact_information
  .directorist-checkbox {
  flex: 0 0 100% !important;
}

.directorist-listing-single
  .directorist-listing-single__info
  .directorist-listing-single__info--list
  ul
  li
  div {
  align-items: center !important;
}

.directorist-listing-single__content .light-text {
  color: #9fa0c5 !important;
  margin-left: 5px;
  font-size: 12px;
}

.ezmu-icon-avater {
  background-image: url("./assets/img/logo.svg") !important;
}

.directorist-tab__nav__wrapper #my_wallet_tab {
  display: none;
}

/* @media only screen and (max-height: 900px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 730px !important;
        max-height: unset !important;
    }
}

@media only screen and (max-height: 823px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 675px !important;
        max-height: unset !important;
    }
}

@media only screen and (max-height: 812px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 665px !important;
        max-height: unset !important;
    }
}

@media only screen and (max-height: 800px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 600px !important;
        max-height: unset !important;
    }
}

@media only screen and (max-height: 736px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 590px !important
    }
}

@media only screen and (max-height: 731px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 585px !important
    }
}

@media only screen and (max-height: 720px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 575px !important
    }
}

@media only screen and (max-height: 700px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 530px !important
    }
}

@media only screen and (max-height: 667px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 520px !important
    }
}

@media only screen and (max-height: 653px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 510px !important
    }
}

@media only screen and (max-height: 640px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 495px !important
    }
}

@media only screen and (max-height: 600px){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 430px !important
    }
}

@media only screen and ( max-height: 568px ){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 420px !important
    }
}

@media only screen and ( max-height: 500px ){
    #directorist-user-message-container ul#directorist-user-message-box
    {
        height: 350px !important
    }
} */

.overlay.overlay--dark:before,
.pricing.pricing--1.atbd_pricing_special .atbd_popular_badge {
  background: #1874b9 !important;
}

.pricing.pricing--1.atbd_pricing_special .atbd_popular_badge,
.pricing.pricing--1 .pricing__features .price_action .price_action--btn {
  color: #fff !important;
}

.atbdp_float_active {
  background: transparent !important;
}

.woocommerce-order section {
  width: 80%;
  margin-left: 10%;
}

/* Floating Chat Module Starts */

.single-at_biz_dir .directorist-chat-wrapper {
  position: fixed;
  background-color: #fff;
  z-index: 999999;
  bottom: 20px;
  right: 20px;
  margin-bottom: 0;
}

.directorist-start-chat .dcl_login_alert,
.directorist-start-chat .directorist-start-chat-btn:not(.active) {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  padding: 0;
}

.single-at_biz_dir .directorist-chat-wrapper.active {
  width: 400px;
}

.directorist-chat-wrapper .directorist-client-chat-content-area {
  padding: 0;
}

#directorist-user-message-container ul#directorist-user-message-box {
  margin-bottom: 0;
  height: 400px;
}

.single-at_biz_dir #ChatForm {
  padding: 10px;
  box-shadow: 0px -2px 5px -1px rgb(244 245 247);
  margin-top: 1px;
}

/* Text Design of Chat */

.directorist-chat-un-time .directorist-chat-user-name,
.directorist-chat-un-time span,
#directorist-user-message-container
  ul#directorist-user-message-box
  li.directorist-user-chat
  .directorist-listing-chat-content
  > p,
.directorist-listing-chat-content > p,
#ChatForm input[name="chatMsg"] {
  font-size: 12px;
}

#directorist-user-message-container ul#directorist-user-message-box li > img {
  height: 30px;
  width: 30px;
}

.directorist-listing-chat-content > p {
  padding: 5px 20px !important;
}

.directorist-chat-wrapper #ChatForm input[name="chatMsg"] {
  height: 45px;
  margin-right: 10px !important;
}

#ChatForm button[type="submit"] {
  width: 45px;
  height: 45px;
}

/* For Mobile View */
@media only screen and (max-width: 600px) {
  .single-at_biz_dir .directorist-chat-wrapper {
    margin-bottom: 0;
  }

  .single-at_biz_dir .directorist-chat-wrapper.active {
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #ChatForm input[name="chatMsg"] {
    margin-top: 0 !important;
  }
}
/* Floating Chat Module Ends */
